.fs-25 {
  font-size: 20px !important;
}

.fs-35 {
  font-size: 35px !important;
}

.fs-40 {
  font-size: 40px !important;
}

.bg-color {
  background-color: rgb(246, 249, 251) !important;
}

.gradient-text {
  background-image: linear-gradient(to right, #0a19ef, #8f3cd7, #4782c2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hidden {
  visibility: hidden !important;
}

.image-size-sm {
  max-width: 50px !important;
  max-height: 50px !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.curser {
  cursor: pointer;
}

.Zindex {
  z-index: 99999 !important;
}

.hide {
  display: none !important;
}

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(246, 249, 251, 0.8);
}
#preloader .negm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#preloader .negm .loader {
  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}
#preloader .negm .loader .circle {
  --color: #333;
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}
#preloader .negm .loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}
#preloader .negm .loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}
#preloader .negm .loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}
#preloader .negm .loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}
@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }
  20%, 25% {
    transform: scale(1.3) rotate(90deg);
  }
  45%, 50% {
    transform: scale(1) rotate(180deg);
  }
  70%, 75% {
    transform: scale(1.3) rotate(270deg);
  }
  95%, 100% {
    transform: scale(1) rotate(360deg);
  }
}

/*
        --- custom styles for my page 
*/
body {
  background-color: rgb(246, 249, 251);
}

section::before {
  content: "";
  display: block;
  height: 80px;
  left: 0px;
}

.col-2 .fa-camera {
  background-color: rgba(14, 164, 233, 0.237);
  color: rgb(14, 165, 233);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}
.col-2 .fa-cart-camera {
  background-color: rgba(14, 164, 233, 0.237);
  color: rgb(14, 165, 233);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}

.col-2 .fa-message {
  background-color: rgba(249, 116, 22, 0.247);
  color: rgb(249, 115, 22);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}
.col-2 .fa-cart-message {
  background-color: rgba(249, 116, 22, 0.247);
  color: rgb(249, 115, 22);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}

.col-2 .fa-image {
  background-color: rgba(20, 184, 165, 0.278);
  color: rgb(20, 184, 166);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}
.col-2 .fa-cart-image {
  background-color: rgba(20, 184, 165, 0.278);
  color: rgb(20, 184, 166);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}

.col-2 .fa-video {
  background-color: rgba(236, 72, 154, 0.227);
  color: rgb(236, 72, 153);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}
.col-2 .fa-cart-video {
  background-color: rgba(236, 72, 154, 0.227);
  color: rgb(236, 72, 153);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}

.col-2 .fa-bookmark {
  background-color: rgba(34, 197, 94, 0.308);
  color: rgb(34, 197, 94);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}
.col-2 .fa-cart-bookmark {
  background-color: rgba(34, 197, 94, 0.308);
  color: rgb(34, 197, 94);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}

.col-2 .fa-shopping {
  background-color: rgba(14, 164, 233, 0.263);
  color: rgb(14, 165, 233);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}
.col-2 .fa-cart-shopping {
  background-color: rgba(14, 164, 233, 0.263);
  color: rgb(14, 165, 233);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}

.col-2 .fa-blog {
  background-color: rgba(169, 85, 247, 0.255);
  color: rgb(168, 85, 247);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}
.col-2 .fa-cart-blog {
  background-color: rgba(169, 85, 247, 0.255);
  color: rgb(168, 85, 247);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}

.col-2 .fa-shield {
  background-color: rgba(239, 68, 68, 0.308);
  color: rgb(239, 68, 68);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}
.col-2 .fa-cart-shield {
  background-color: rgba(239, 68, 68, 0.308);
  color: rgb(239, 68, 68);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}

.hight {
  height: 110px;
}/*# sourceMappingURL=upgrade.css.map */